*[class="gridButton"] {
    border-width: 5px;
    border-color: #222;
    border-style: solid;
}
*[class="roundButton"] {
    border-width: 5px;
    border-radius: 20%;
    border-color: #222;
    border-style: solid;
}
QTabWidget {
    width: 600px;
    height: 600px;
    max-width: 600px;
    max-height: 600px;
    background: rgb(63, 63, 63);
    border: 2px solid red;
    
}
QPushButton {
    color: white;
    font-weight: 500;
    font-size: 16px;
}